# PREDICTION

In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## TRAIN SET

In [2]:
train=pd.read_csv('train.csv')
train.head()

  city  year  weekofyear  ... station_min_temp_c  station_precip_mm  total_cases
0   sj  1990          18  ...               20.0               16.0            4
1   sj  1990          19  ...               22.2                8.6            5
2   sj  1990          20  ...               22.8               41.4            4
3   sj  1990          21  ...               23.3                4.0            3
4   sj  1990          22  ...               23.9                5.8            6

[5 rows x 25 columns]

In [3]:
train.tail()

     city  year  weekofyear  ... station_min_temp_c  station_precip_mm  total_cases
1451   iq  2010          21  ...               22.4               27.0            5
1452   iq  2010          22  ...               21.7               36.6            8
1453   iq  2010          23  ...               19.2                7.4            1
1454   iq  2010          24  ...               21.0               16.0            1
1455   iq  2010          25  ...               22.2               20.4            4

[5 rows x 25 columns]

In [4]:
train.shape

(1456, 25)

In [5]:
train.isnull().sum()

city                                       0
year                                       0
weekofyear                                 0
week_start_date                            0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
total_cases                                0
dtype: int64

In [6]:
train.total_cases.value_counts()

0      100
6       71
3       70
5       70
2       69
      ...
135      1
137      1
141      1
142      1
461      1
Name: total_cases, Length: 135, dtype: int64

## TEST DATASET

In [7]:
test = pd.read_csv('test.csv')
test.head()

  city  year  ...  station_min_temp_c station_precip_mm
0   sj  2008  ...                21.7              75.2
1   sj  2008  ...                22.2              34.3
2   sj  2008  ...                22.8               3.0
3   sj  2008  ...                24.4               0.3
4   sj  2008  ...                23.3              84.1

[5 rows x 24 columns]

In [8]:
test.shape

(416, 24)

In [9]:
test.isnull().sum()

city                                      0
year                                      0
weekofyear                                0
week_start_date                           0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
precipitation_amt_mm                      2
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_precip_amt_kg_per_m2           2
reanalysis_relative_humidity_percent      2
reanalysis_sat_precip_amt_mm              2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_max_temp_c                        3
station_min_temp_c                        9
station_precip_mm                         5
dtype: int64

## HANDLING MISSING VALUES FOR BOTH TRAIN AND TEST DATA

In [10]:
train['train_or_test']='train'
test['train_or_test']='test'
df=pd.concat([train,test])

In [11]:
df.head()

  city  year  weekofyear  ... station_precip_mm  total_cases  train_or_test
0   sj  1990          18  ...              16.0          4.0          train
1   sj  1990          19  ...               8.6          5.0          train
2   sj  1990          20  ...              41.4          4.0          train
3   sj  1990          21  ...               4.0          3.0          train
4   sj  1990          22  ...               5.8          6.0          train

[5 rows x 26 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1872 entries, 0 to 415
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   city                                   1872 non-null   object
 1   year                                   1872 non-null   int64
 2   weekofyear                             1872 non-null   int64
 3   week_start_date                        1872 non-null   object
 4   ndvi_ne                                1635 non-null   float64
 5   ndvi_nw                                1809 non-null   float64
 6   ndvi_se                                1849 non-null   float64
 7   ndvi_sw                                1849 non-null   float64
 8   precipitation_amt_mm                   1857 non-null   float64
 9   reanalysis_air_temp_k                  1860 non-null   float64
 10  reanalysis_avg_temp_k                  1860 non-null   float64
 11  reanalysis_dew_point_temp_k            1860 non-null   float64
 12  reanalysis_max_air_temp_k              1860 non-null   float64
 13  reanalysis_min_air_temp_k              1860 non-null   float64
 14  reanalysis_precip_amt_kg_per_m2        1860 non-null   float64
 15  reanalysis_relative_humidity_percent   1860 non-null   float64
 16  reanalysis_sat_precip_amt_mm           1857 non-null   float64
 17  reanalysis_specific_humidity_g_per_kg  1860 non-null   float64
 18  reanalysis_tdtr_k                      1860 non-null   float64
 19  station_avg_temp_c                     1817 non-null   float64
 20  station_diur_temp_rng_c                1817 non-null   float64
 21  station_max_temp_c                     1849 non-null   float64
 22  station_min_temp_c                     1849 non-null   float64
 23  station_precip_mm                      1845 non-null   float64
 24  total_cases                            1456 non-null   float64
 25  train_or_test                          1872 non-null   object
dtypes: float64(21), int64(2), object(3)
memory usage: 394.9+ KB

In [13]:
#filling missing values using interpolate function
#df.interpolate(inplace=True)

In [14]:
def impute_nan(df, feat):
  m = df[feat].median()
  df[feat] = df[feat].fillna(m)

In [15]:
col = ['ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm']

In [16]:
for feat in col:
  impute_nan(df, feat)

In [17]:
df.head()

  city  year  weekofyear  ... station_precip_mm  total_cases  train_or_test
0   sj  1990          18  ...              16.0          4.0          train
1   sj  1990          19  ...               8.6          5.0          train
2   sj  1990          20  ...              41.4          4.0          train
3   sj  1990          21  ...               4.0          3.0          train
4   sj  1990          22  ...               5.8          6.0          train

[5 rows x 26 columns]

In [18]:
df.isnull().sum()

city                                       0
year                                       0
weekofyear                                 0
week_start_date                            0
ndvi_ne                                    0
ndvi_nw                                    0
ndvi_se                                    0
ndvi_sw                                    0
precipitation_amt_mm                       0
reanalysis_air_temp_k                      0
reanalysis_avg_temp_k                      0
reanalysis_dew_point_temp_k                0
reanalysis_max_air_temp_k                  0
reanalysis_min_air_temp_k                  0
reanalysis_precip_amt_kg_per_m2            0
reanalysis_relative_humidity_percent       0
reanalysis_sat_precip_amt_mm               0
reanalysis_specific_humidity_g_per_kg      0
reanalysis_tdtr_k                          0
station_avg_temp_c                         0
station_diur_temp_rng_c                    0
station_max_temp_c                         0
station_min_temp_c                         0
station_precip_mm                          0
total_cases                              416
train_or_test                              0
dtype: int64

## EDA

In [19]:
df.columns

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'total_cases',
       'train_or_test'],
      dtype='object')

In [20]:
#col = ['reanalysis_air_temp_k', 'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k', 'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k']

In [21]:
#def convert_kelvin_to_celsius(df, col):
  #df[col] = df[col] - 273.15

In [22]:
#convert_kelvin_to_celsius(df, col)
df.head()

  city  year  weekofyear  ... station_precip_mm  total_cases  train_or_test
0   sj  1990          18  ...              16.0          4.0          train
1   sj  1990          19  ...               8.6          5.0          train
2   sj  1990          20  ...              41.4          4.0          train
3   sj  1990          21  ...               4.0          3.0          train
4   sj  1990          22  ...               5.8          6.0          train

[5 rows x 26 columns]

In [23]:
#col = ['reanalysis_relative_humidity_percent']

In [24]:
#def convert_to_percent(df, col):
  #df[col] = df[col] /100

In [25]:
#convert_to_percent(df, col)
df.head()

  city  year  weekofyear  ... station_precip_mm  total_cases  train_or_test
0   sj  1990          18  ...              16.0          4.0          train
1   sj  1990          19  ...               8.6          5.0          train
2   sj  1990          20  ...              41.4          4.0          train
3   sj  1990          21  ...               4.0          3.0          train
4   sj  1990          22  ...               5.8          6.0          train

[5 rows x 26 columns]

## FEATURE ENGINEERING

## TRAIN DATA

In [26]:
df.city.value_counts()

sj    1196
iq     676
Name: city, dtype: int64

In [27]:
g = {'sj' : 0, 'iq' : 1}
df['city'] = df['city'].map(g)
df.head()

   city  year  weekofyear  ... station_precip_mm  total_cases  train_or_test
0     0  1990          18  ...              16.0          4.0          train
1     0  1990          19  ...               8.6          5.0          train
2     0  1990          20  ...              41.4          4.0          train
3     0  1990          21  ...               4.0          3.0          train
4     0  1990          22  ...               5.8          6.0          train

[5 rows x 26 columns]

In [28]:
df = df.drop(['week_start_date'], axis=1)
df.head()

   city  year  weekofyear  ...  station_precip_mm  total_cases  train_or_test
0     0  1990          18  ...               16.0          4.0          train
1     0  1990          19  ...                8.6          5.0          train
2     0  1990          20  ...               41.4          4.0          train
3     0  1990          21  ...                4.0          3.0          train
4     0  1990          22  ...                5.8          6.0          train

[5 rows x 25 columns]

In [29]:
col = ['year', 'weekofyear']

In [30]:
#for feature in col:
    #labels_ordered=df[feature].value_counts().to_dict()
    #labels_ordered={k:i for i,k in enumerate(labels_ordered,0)}
    #df[feature]=df[feature].map(labels_ordered)
df.head()

   city  year  weekofyear  ...  station_precip_mm  total_cases  train_or_test
0     0  1990          18  ...               16.0          4.0          train
1     0  1990          19  ...                8.6          5.0          train
2     0  1990          20  ...               41.4          4.0          train
3     0  1990          21  ...                4.0          3.0          train
4     0  1990          22  ...                5.8          6.0          train

[5 rows x 25 columns]

## TEST DATA

## FEATURE SCALING (BOTH NORMALIZATION AND STANDARDISATION)

In [31]:
train.columns

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'total_cases',
       'train_or_test'],
      dtype='object')

In [32]:
columns_to_scale=['city', 'year', 'weekofyear', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm']

In [33]:
#from sklearn.preprocessing import StandardScaler
#scaler=StandardScaler()
#df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])
df.head()

   city  year  weekofyear  ...  station_precip_mm  total_cases  train_or_test
0     0  1990          18  ...               16.0          4.0          train
1     0  1990          19  ...                8.6          5.0          train
2     0  1990          20  ...               41.4          4.0          train
3     0  1990          21  ...                4.0          3.0          train
4     0  1990          22  ...                5.8          6.0          train

[5 rows x 25 columns]

In [34]:
train=df.loc[df.train_or_test.isin(['train'])]
test=df.loc[df.train_or_test.isin(['test'])]
train.drop(columns={'train_or_test'},axis=1,inplace=True)
test.drop(columns={'train_or_test'},axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [35]:
train.head()

   city  year  weekofyear  ...  station_min_temp_c  station_precip_mm  total_cases
0     0  1990          18  ...                20.0               16.0          4.0
1     0  1990          19  ...                22.2                8.6          5.0
2     0  1990          20  ...                22.8               41.4          4.0
3     0  1990          21  ...                23.3                4.0          3.0
4     0  1990          22  ...                23.9                5.8          6.0

[5 rows x 24 columns]

In [36]:
test.head()

   city  year  weekofyear  ...  station_min_temp_c  station_precip_mm  total_cases
0     0  2008          18  ...                21.7               75.2          NaN
1     0  2008          19  ...                22.2               34.3          NaN
2     0  2008          20  ...                22.8                3.0          NaN
3     0  2008          21  ...                24.4                0.3          NaN
4     0  2008          22  ...                23.3               84.1          NaN

[5 rows x 24 columns]

In [37]:
x_train=train.loc[:,['city', 'year', 'weekofyear', 'ndvi_ne', 'ndvi_nw', 'ndvi_se',
       'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm']]
y_train=train.loc[:,['total_cases']]
test=test.loc[:,['city', 'year', 'weekofyear', 'ndvi_ne', 'ndvi_nw', 'ndvi_se',
       'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm']]

## TRAIN DATA

In [38]:
from xgboost.sklearn import XGBRegressor
clf=XGBRegressor(n_estimators=1000,learning_rate=0.02,gamma=0,min_child_weight=30,
                           subsample=0.8,colsample_bytree=1,max_depth=7)
clf.fit(x_train, y_train)

[16:09:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.02, max_delta_step=0,
             max_depth=7, min_child_weight=30, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.8, verbosity=1)

In [39]:
total_cases = clf.predict(test)
total_cases

array([ 5.52733994e+00,  1.14750350e+00,  7.07127094e+00,  1.30106277e+01,
        1.52679415e+01,  1.09437542e+01,  1.75285587e+01,  1.19640312e+01,
        1.65957184e+01,  1.86432095e+01,  2.02012024e+01,  1.62190628e+01,
        2.86244907e+01,  1.89627838e+01,  4.41912766e+01,  4.64656754e+01,
        2.67620277e+01,  7.12048645e+01,  1.11657326e+02,  6.62962418e+01,
        6.84383163e+01,  5.51922226e+01,  4.25916023e+01,  6.51545563e+01,
        4.18490410e+01,  2.69943714e+01,  3.60247688e+01,  2.93275433e+01,
        4.48333855e+01,  3.92230339e+01,  2.86825981e+01,  1.55603065e+01,
        1.55853443e+01,  6.13080740e+00,  5.60622644e+00,  1.37488813e+01,
        1.62877350e+01,  2.02248096e+01,  1.39313164e+01,  1.46406937e+01,
        9.25949574e+00,  1.26648722e+01,  1.22682943e+01,  1.08971395e+01,
        4.47226238e+00,  5.70949554e+00,  1.51632369e+00,  1.12858367e+00,
        9.75656807e-02,  1.96407974e+00,  2.74798942e+00,  2.54487991e+00,
        5.91795063e+00,  8.55320334e-01,  1.35631084e+01,  3.76287603e+00,
        9.64306736e+00,  1.09153147e+01,  1.01346970e+01,  8.59307575e+00,
        5.06782866e+00,  2.01758995e+01,  2.94051037e+01,  2.63112144e+01,
        3.14610214e+01,  2.80475826e+01,  4.15060844e+01,  3.48979797e+01,
        2.72124825e+01,  7.25237656e+01,  5.74131355e+01,  2.16115112e+01,
        3.83374786e+01,  5.24266014e+01,  6.78093338e+01,  6.63262482e+01,
        5.59593010e+01,  2.98998642e+01,  5.32404327e+01,  3.85582962e+01,
        2.44252052e+01,  5.18735237e+01,  4.32442627e+01,  2.65742931e+01,
        1.95297966e+01,  8.66734982e+00,  1.96271648e+01,  1.13889332e+01,
        1.96056213e+01,  2.16854115e+01,  1.54602203e+01,  1.68449726e+01,
        1.41263046e+01,  1.39816456e+01,  1.60529556e+01,  9.88251209e+00,
        1.68837566e+01,  3.86702657e+00,  1.35348916e+00,  5.35329628e+00,
        1.05029879e+01,  4.35527134e+00,  4.05658674e+00,  8.08973122e+00,
        8.92117310e+00,  2.27224884e+01,  1.65809479e+01,  1.42122698e+01,
        1.06042585e+01,  3.35694389e+01,  4.08831482e+01,  2.45065956e+01,
        2.76676311e+01,  2.88436394e+01,  4.23628616e+01,  6.83786926e+01,
        3.48546066e+01,  3.61066246e+01,  3.70762787e+01,  8.77740479e+01,
        8.80875092e+01,  8.59200821e+01,  9.31516571e+01,  7.78072586e+01,
        6.84591141e+01,  5.70629349e+01,  4.21640396e+01,  5.11511497e+01,
        7.63193207e+01,  5.91677933e+01,  6.36572647e+01,  3.66782684e+01,
        3.81629715e+01,  3.15111523e+01,  2.59399204e+01,  2.76290169e+01,
        2.14776478e+01,  2.64479561e+01,  8.60701752e+00,  4.29119015e+00,
        2.07801552e+01,  1.72983227e+01,  1.97038441e+01,  1.67325420e+01,
        1.20557604e+01,  1.16377964e+01,  1.09732008e+01,  9.21247196e+00,
        9.56705284e+00,  3.93060565e+00,  5.71499491e+00,  2.50815845e+00,
        5.01642275e+00,  5.23156595e+00,  5.44766521e+00, -1.73465967e+00,
        2.95955634e+00,  1.58080416e+01,  3.07797480e+00,  1.77323067e+00,
        8.26074600e+00,  2.39836464e+01,  1.96202431e+01,  2.48169270e+01,
        2.80008392e+01,  3.59579124e+01,  1.94760685e+01,  2.32238712e+01,
        2.55848598e+01,  3.53980484e+01,  2.09195309e+01,  4.78460960e+01,
        2.58617973e+01,  6.09617348e+01,  4.81010818e+01,  3.51577263e+01,
        3.96774368e+01,  2.85631256e+01,  1.79278107e+01,  3.06169853e+01,
        3.69275360e+01,  3.30334969e+01,  2.01005535e+01,  4.29458885e+01,
        2.40930691e+01,  2.39162445e+01,  3.00177078e+01,  3.16439133e+01,
        2.09145298e+01,  3.38217583e+01,  8.23893356e+00,  1.71139920e+00,
        2.13526077e+01,  2.02382393e+01,  1.79894142e+01,  1.15930815e+01,
        9.08898067e+00,  1.09328222e+01,  1.03067932e+01,  9.97421360e+00,
        8.61368084e+00,  5.17988777e+00,  4.74251890e+00,  3.61103415e+00,
        5.25804234e+00,  2.75996304e+00,  3.56441045e+00,  3.49520922e+00,
        1.14834964e+00,  4.95783043e+00,  1.89403415e+00,  1.08737202e+01,
        5.47804928e+00,  1.34977570e+01,  1.90812283e+01,  1.02427549e+01,
        2.63714104e+01,  1.60473652e+01,  2.11619663e+01,  1.05837584e+01,
        5.25331593e+00,  2.25353451e+01,  1.45840626e+01,  3.47276497e+01,
        3.39220009e+01,  3.55173264e+01,  2.94351959e+01,  3.05404205e+01,
        5.58105545e+01,  4.89324341e+01,  4.76781807e+01,  3.94499855e+01,
        2.97470741e+01,  3.19319744e+01,  4.13526382e+01,  4.85340157e+01,
        4.45381088e+01,  4.08575554e+01,  3.78342133e+01,  4.93186531e+01,
        2.72801838e+01,  1.40112476e+01,  5.81434393e+00,  1.88844223e+01,
        2.20597992e+01,  1.79212723e+01,  1.58816919e+01,  8.96366978e+00,
        1.28521919e+01,  9.13148117e+00,  1.66664791e+01,  6.81496048e+00,
        5.42708778e+00,  5.32856274e+00,  1.97456789e+00,  6.08940601e+00,
        1.86538875e+00,  1.23854227e+01,  6.84466887e+00,  4.78590918e+00,
        4.04780102e+00, -6.65872097e-02,  3.72548032e+00,  7.11271811e+00,
        1.90097249e+00,  3.19150615e+00,  3.50177240e+00,  4.53902292e+00,
        5.98200750e+00,  8.86247158e+00,  1.10706739e+01,  7.08980083e+00,
        5.76257420e+00,  9.40944767e+00,  3.52386284e+01,  1.15431795e+01,
        1.55300512e+01,  1.17114887e+01,  1.27886658e+01,  1.25382671e+01,
        1.96009655e+01,  9.65579700e+00,  1.14785480e+01,  3.65190506e-02,
        1.73377590e+01, -3.04637730e-01,  4.53398466e+00,  1.69602623e+01,
        1.14649734e+01,  1.30109472e+01,  1.36679296e+01,  1.48750153e+01,
        1.54097462e+01,  1.70235786e+01,  1.82998543e+01,  1.14576635e+01,
        8.56516171e+00,  7.61117506e+00,  6.09876394e+00,  6.84846735e+00,
        2.34316778e+00,  4.85910082e+00,  8.13804245e+00,  1.13430777e+01,
        9.05973911e+00,  2.62015533e+00,  4.72335815e+00,  3.89123893e+00,
        7.28676796e-01,  3.65031791e+00,  5.20890903e+00,  1.75932205e+00,
        5.67038918e+00, -2.73648977e-01,  2.79586530e+00,  4.95490408e+00,
        1.26622725e+00,  1.60341322e+00,  5.38210344e+00,  4.79553699e+00,
        3.18180180e+00,  4.25751328e-01,  3.66522121e+00,  9.29136944e+00,
        1.33678036e+01,  2.12698383e+01,  1.01913776e+01,  1.10198174e+01,
        9.85189629e+00,  1.28311396e+01,  1.24838667e+01,  2.08114471e+01,
        2.14790230e+01,  1.21455307e+01,  1.90395985e+01,  2.35293808e+01,
        2.62186203e+01,  1.04855719e+01,  4.20098782e+00,  2.04897289e+01,
        1.33195810e+01,  1.47803202e+01,  1.41769924e+01,  1.46971884e+01,
        1.40106926e+01,  1.43611345e+01,  1.49683504e+01,  9.60959339e+00,
        3.35135984e+00,  1.56620592e-01,  2.77331972e+00,  8.78231430e+00,
        1.55670702e+00,  2.50382042e+00,  4.60276318e+00,  8.61293793e+00,
        5.37946653e+00,  2.11847162e+00,  5.16292191e+00,  1.21779108e+00,
        7.44468212e-01,  2.53411484e+00,  1.74092817e+00,  2.83098865e+00,
        4.29026097e-01,  1.35149407e+00,  5.62807608e+00,  4.28955936e+00,
        4.16561365e+00,  2.48203945e+00,  2.24134374e+00,  5.42409849e+00,
        6.72813129e+00,  1.04466810e+01,  9.35307789e+00,  3.71991849e+00,
        7.12051439e+00,  8.86725426e+00,  1.37096682e+01,  8.58424473e+00,
        1.53087521e+01,  1.79108391e+01,  1.26721954e+01,  1.17063951e+01,
        8.48710728e+00,  2.83214073e+01,  1.86335335e+01,  1.89065132e+01,
        4.91866970e+00, -3.31491280e+00,  1.68817730e+01,  1.53648949e+01,
        2.00325527e+01,  1.63754196e+01,  2.15694485e+01,  1.58441391e+01,
        1.59439363e+01,  1.09034052e+01,  1.35486441e+01,  1.26140089e+01,
        1.58535452e+01,  9.95392036e+00,  4.54517412e+00,  5.53966141e+00,
        3.17729354e+00,  3.32422590e+00,  9.96259689e+00,  5.34144926e+00,
        4.07405758e+00,  6.49980927e+00, -7.04676390e-01,  7.44337273e+00,
        5.46031713e+00, -2.41821527e-01,  2.72263312e+00,  2.68511343e+00],
      dtype=float32)

In [40]:
clf.score(x_train, y_train)

0.9597273965512534

In [41]:
total_cases = clf.predict(test).round().astype(int)
total_cases

array([  6,   1,   7,  13,  15,  11,  18,  12,  17,  19,  20,  16,  29,
        19,  44,  46,  27,  71, 112,  66,  68,  55,  43,  65,  42,  27,
        36,  29,  45,  39,  29,  16,  16,   6,   6,  14,  16,  20,  14,
        15,   9,  13,  12,  11,   4,   6,   2,   1,   0,   2,   3,   3,
         6,   1,  14,   4,  10,  11,  10,   9,   5,  20,  29,  26,  31,
        28,  42,  35,  27,  73,  57,  22,  38,  52,  68,  66,  56,  30,
        53,  39,  24,  52,  43,  27,  20,   9,  20,  11,  20,  22,  15,
        17,  14,  14,  16,  10,  17,   4,   1,   5,  11,   4,   4,   8,
         9,  23,  17,  14,  11,  34,  41,  25,  28,  29,  42,  68,  35,
        36,  37,  88,  88,  86,  93,  78,  68,  57,  42,  51,  76,  59,
        64,  37,  38,  32,  26,  28,  21,  26,   9,   4,  21,  17,  20,
        17,  12,  12,  11,   9,  10,   4,   6,   3,   5,   5,   5,  -2,
         3,  16,   3,   2,   8,  24,  20,  25,  28,  36,  19,  23,  26,
        35,  21,  48,  26,  61,  48,  35,  40,  29,  18,  31,  37,  33,
        20,  43,  24,  24,  30,  32,  21,  34,   8,   2,  21,  20,  18,
        12,   9,  11,  10,  10,   9,   5,   5,   4,   5,   3,   4,   3,
         1,   5,   2,  11,   5,  13,  19,  10,  26,  16,  21,  11,   5,
        23,  15,  35,  34,  36,  29,  31,  56,  49,  48,  39,  30,  32,
        41,  49,  45,  41,  38,  49,  27,  14,   6,  19,  22,  18,  16,
         9,  13,   9,  17,   7,   5,   5,   2,   6,   2,  12,   7,   5,
         4,   0,   4,   7,   2,   3,   4,   5,   6,   9,  11,   7,   6,
         9,  35,  12,  16,  12,  13,  13,  20,  10,  11,   0,  17,   0,
         5,  17,  11,  13,  14,  15,  15,  17,  18,  11,   9,   8,   6,
         7,   2,   5,   8,  11,   9,   3,   5,   4,   1,   4,   5,   2,
         6,   0,   3,   5,   1,   2,   5,   5,   3,   0,   4,   9,  13,
        21,  10,  11,  10,  13,  12,  21,  21,  12,  19,  24,  26,  10,
         4,  20,  13,  15,  14,  15,  14,  14,  15,  10,   3,   0,   3,
         9,   2,   3,   5,   9,   5,   2,   5,   1,   1,   3,   2,   3,
         0,   1,   6,   4,   4,   2,   2,   5,   7,  10,   9,   4,   7,
         9,  14,   9,  15,  18,  13,  12,   8,  28,  19,  19,   5,  -3,
        17,  15,  20,  16,  22,  16,  16,  11,  14,  13,  16,  10,   5,
         6,   3,   3,  10,   5,   4,   6,  -1,   7,   5,   0,   3,   3])

In [42]:
 total_cases= np.where(total_cases < 0, 0, total_cases)
 total_cases

array([  6,   1,   7,  13,  15,  11,  18,  12,  17,  19,  20,  16,  29,
        19,  44,  46,  27,  71, 112,  66,  68,  55,  43,  65,  42,  27,
        36,  29,  45,  39,  29,  16,  16,   6,   6,  14,  16,  20,  14,
        15,   9,  13,  12,  11,   4,   6,   2,   1,   0,   2,   3,   3,
         6,   1,  14,   4,  10,  11,  10,   9,   5,  20,  29,  26,  31,
        28,  42,  35,  27,  73,  57,  22,  38,  52,  68,  66,  56,  30,
        53,  39,  24,  52,  43,  27,  20,   9,  20,  11,  20,  22,  15,
        17,  14,  14,  16,  10,  17,   4,   1,   5,  11,   4,   4,   8,
         9,  23,  17,  14,  11,  34,  41,  25,  28,  29,  42,  68,  35,
        36,  37,  88,  88,  86,  93,  78,  68,  57,  42,  51,  76,  59,
        64,  37,  38,  32,  26,  28,  21,  26,   9,   4,  21,  17,  20,
        17,  12,  12,  11,   9,  10,   4,   6,   3,   5,   5,   5,   0,
         3,  16,   3,   2,   8,  24,  20,  25,  28,  36,  19,  23,  26,
        35,  21,  48,  26,  61,  48,  35,  40,  29,  18,  31,  37,  33,
        20,  43,  24,  24,  30,  32,  21,  34,   8,   2,  21,  20,  18,
        12,   9,  11,  10,  10,   9,   5,   5,   4,   5,   3,   4,   3,
         1,   5,   2,  11,   5,  13,  19,  10,  26,  16,  21,  11,   5,
        23,  15,  35,  34,  36,  29,  31,  56,  49,  48,  39,  30,  32,
        41,  49,  45,  41,  38,  49,  27,  14,   6,  19,  22,  18,  16,
         9,  13,   9,  17,   7,   5,   5,   2,   6,   2,  12,   7,   5,
         4,   0,   4,   7,   2,   3,   4,   5,   6,   9,  11,   7,   6,
         9,  35,  12,  16,  12,  13,  13,  20,  10,  11,   0,  17,   0,
         5,  17,  11,  13,  14,  15,  15,  17,  18,  11,   9,   8,   6,
         7,   2,   5,   8,  11,   9,   3,   5,   4,   1,   4,   5,   2,
         6,   0,   3,   5,   1,   2,   5,   5,   3,   0,   4,   9,  13,
        21,  10,  11,  10,  13,  12,  21,  21,  12,  19,  24,  26,  10,
         4,  20,  13,  15,  14,  15,  14,  14,  15,  10,   3,   0,   3,
         9,   2,   3,   5,   9,   5,   2,   5,   1,   1,   3,   2,   3,
         0,   1,   6,   4,   4,   2,   2,   5,   7,  10,   9,   4,   7,
         9,  14,   9,  15,  18,  13,  12,   8,  28,  19,  19,   5,   0,
        17,  15,  20,  16,  22,  16,  16,  11,  14,  13,  16,  10,   5,
         6,   3,   3,  10,   5,   4,   6,   0,   7,   5,   0,   3,   3])

In [43]:
test['total_cases'] = total_cases
test.head()

   city  year  weekofyear  ...  station_min_temp_c  station_precip_mm  total_cases
0     0  2008          18  ...                21.7               75.2            6
1     0  2008          19  ...                22.2               34.3            1
2     0  2008          20  ...                22.8                3.0            7
3     0  2008          21  ...                24.4                0.3           13
4     0  2008          22  ...                23.3               84.1           15

[5 rows x 24 columns]

In [44]:
test.astype(int)
test.head()

   city  year  weekofyear  ...  station_min_temp_c  station_precip_mm  total_cases
0     0  2008          18  ...                21.7               75.2            6
1     0  2008          19  ...                22.2               34.3            1
2     0  2008          20  ...                22.8                3.0            7
3     0  2008          21  ...                24.4                0.3           13
4     0  2008          22  ...                23.3               84.1           15

[5 rows x 24 columns]

In [45]:
print(test['total_cases'].round(0).astype(int))

0       6
1       1
2       7
3      13
4      15
       ..
411     7
412     5
413     0
414     3
415     3
Name: total_cases, Length: 416, dtype: int64

In [46]:
s= test['total_cases'].round(0).astype(int)

In [47]:
s

0       6
1       1
2       7
3      13
4      15
       ..
411     7
412     5
413     0
414     3
415     3
Name: total_cases, Length: 416, dtype: int64

In [48]:
test['g'] = s

In [49]:
test.head()

   city  year  weekofyear  ...  station_precip_mm  total_cases   g
0     0  2008          18  ...               75.2            6   6
1     0  2008          19  ...               34.3            1   1
2     0  2008          20  ...                3.0            7   7
3     0  2008          21  ...                0.3           13  13
4     0  2008          22  ...               84.1           15  15

[5 rows x 25 columns]

In [50]:
test.to_csv('sub.csv')